In [ ]:
##Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information,
or data, typically stored electronically in a computer system. 
A database is usually controlled by a database management system (DBMS).

SQL - 1)Structured Query Language (SQL) databases are relational databases.
      2)Data is stored in tables with predefined schemas.
      3)Follow ACID (Atomicity, Consistency, Isolation, Durability) properties.
      4)Suitable for complex queries and transactions.
      5)Examples include MySQL, PostgreSQL, Oracle.
        
NoSQL -1) NoSQL databases are non-relational databases.
       2)Data is stored in various formats like key-value pairs, documents, graphs, etc.
       3)Do not strictly adhere to ACID properties; instead, they often prioritize scalability and flexibility.
       4)Better suited for large-scale distributed data and real-time web applications.
       5)Examples include MongoDB, Cassandra, Redis.

In [ ]:
#Q2. What is DDl?Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language.
It is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database.
DDL commands are used to create, modify, and delete database objects such as tables, indexes, views, etc.
Some common DDL commands include:

CREATE: Used to create new database objects like tables, indexes, views, etc.
ALTER: Used to modify the structure of existing database objects.
DROP: Used to delete database objects from the database.
TRUNCATE: Used to remove all records from a table, but the table structure remains intact.
COMMENT: Used to add comments to database objects.
These: commands are essential for database administrators and developers to manage the structure and
organization of data within a database.

In [ ]:
#Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.


DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used for 
managing data within a database.
DML commands are primarily used to perform operations such as inserting new data,
updating existing data, and deleting data from database tables.

1)INSERT command is used to add new records (rows) into a table.
INSERT INTO table_name (column1, column2, ...) VALUES (value1, value2, ...);
INSERT INTO employees (employee_id, first_name, last_name, salary) VALUES (101, 'John', 'Doe', 50000);


2)UPDATE command is used to modify existing records in a table.
UPDATE table_name SET column1 = value1, column2 = value2, ... WHERE condition;
UPDATE employees SET salary = 55000 WHERE employee_id = 101;

3)DELETE command is used to remove existing records from a table.
DELETE FROM table_name WHERE condition;
DELETE FROM employees WHERE employee_id = 101;

In [ ]:
# Q4.What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) 
used for querying and retrieving data from a database. 
The primary command used in DQL is SELECT.

#SELECT command is used to retrieve data from one or more tables in a database.
SELECT column1, column2, ... FROM table_name WHERE condition;

In [ ]:
#Q5.Explain Primary Key and Foreign Key.

Primary Key:

1)A primary key is a column or a set of columns that uniquely identifies each row (record) in a table.
2)I must contain unique values and cannot have NULL values.
3)Primary keys enforce entity integrity in a relational database, ensuring that each record in a table is 
  uniquely identifiable.
4)Typically, primary keys are created using the CREATE TABLE statement or ALTER TABLE statement.
5)Example : CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50)
);

Foreign Key:

1)A foreign key is a column or a set of columns in a table that establishes a link between data in two tables.
2)It creates a relationship between two tables by referencing the primary key of another table.
3)Foreign keys enforce referential integrity, ensuring that the data in the referencing table (child table) 
  corresponds to the data in the referenced table (parent table).
4)Foreign keys can have NULL values, but they must match an existing value in the referenced table or be NULL.
5)Typically, foreign keys are defined when creating or altering tables using the FOREIGN KEY constraint.
6) EXAMPLE : 
            CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    product_id INT,
    quantity INT,
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);

In [ ]:
#Q6.Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

pip install mysql-connector-python

import mysql.connector

# Establish connection to MySQL database
connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create cursor object to interact with the database
cursor = connection.cursor()

# Example of using cursor() and execute() method
try:
    # Execute SQL query
    cursor.execute("SELECT * FROM your_table")

    # Fetch all rows from the result set
    rows = cursor.fetchall()

    # Print each row
    for row in rows:
        print(row)

except mysql.connector.Error as error:
    print("Error reading data from MySQL table:", error)

finally:
    # Close cursor and connection
    cursor.close()
    connection.close()

In [ ]:
#Q7

1)FROM: The FROM clause specifies the tables from which data will be retrieved.
        It's the first clause to be executed.

2)JOIN: If the query involves joining multiple tables, the JOIN clause is executed next to combine rows
        from different tables based on a related column between them.

3)WHERE: The WHERE clause is used to filter rows based on specified conditions. 
         It's applied after the tables are joined, but before any grouping or ordering is performed.

4)GROUP BY: If the query includes a GROUP BY clause, rows are grouped based on the specified column(s) 
            or expression(s). Aggregation functions (e.g., SUM, COUNT) can be applied to these groups.

5)HAVING: The HAVING clause filters the grouped rows based on specified conditions. 
          It's similar to the WHERE clause but is applied after the rows are grouped.

6)SELECT: The SELECT clause is used to specify the columns to be included in the result set. 
          It's applied after the filtering and grouping operations.

7)DISTINCT: If the query includes the DISTINCT keyword, duplicate rows are removed from 
            the result set after the SELECT clause is executed.

8)ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns or expressions.
            It's applied after all other clauses have been executed.

9)LIMIT/OFFSET: If the query includes the LIMIT and/or OFFSET keywords, they are applied after sorting 
                to limit the number of rows returned or to skip a specified number of rows.